
# partitioning
d-i	partman-auto/method string regular
d-i partman-auto/expert_recipe string                         \
      boot-root ::                                            \
              1000 20000 10000 ext3                            \
                      $primary{ } $bootable{ }                \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext3 }    \
                      mountpoint{ / }                         \
              .                                               \
              400 700 512 linux-swap                          \
                      method{ swap } format{ }                \
              .                                               \
              10000 100000 1000000000 ext3                    \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext3 }    \
                      mountpoint{ /var }                      \
              .

d-i	partman-auto/purge_lvm_from_device	boolean	true
d-i	partman-md/device_remove_md	boolean	true
# define your recipe in task.cfg
# (recipe: see partman-auto-recipe.txt for format and limitations)
d-i	partman/confirm_write_new_label boolean true
d-i	partman/choose_partition	select	finish
d-i	partman/confirm boolean true
#
